<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
             {{msg}}
                <form action="{{url_for('add_todo')}}" method="post">
                    <input type="text" name="title">
                    <input type="text" name="description">
                    <button>submit</button>
                </form>

                <a href="{{url_for('getAll')}}"> check all todos</a>
</body>
</html>